<div class="well clearfix">
  <% param_prefix = "payment_source[#{payment_method.id}]" %>
    <p class="field">
      <%= label_tag "school_name_#{payment_method.id}" do %>
        <%= Spree.t(:school_name) %>
        <abbr class="required" title="required">*</abbr>
      <% end %>
      <%= text_field_tag "#{param_prefix}[school_name]", "#{@order.billing_firstname} #{@order.billing_lastname}", { id: "school_name_#{payment_method.id}", class: 'form-control required'} %>
    </p>
    <p class="field" data-hook="tax_id_number">
      <%= label_tag "tax_id_number" do %>
        <%= Spree.t(:tax_id_number) %>
        <abbr class="required" title="required">*</abbr>
      <% end %>
      <%= text_field_tag "#{param_prefix}[tax_id_number]", '', {id: 'tax_id_number', class: 'form-control required'} %>
    </p>
    <p class="field" data-hook="contact_name">
       <%= label_tag "contact_name" do %>
         <%= Spree.t(:contact_name) %>
         <abbr class="required" title="required">*</abbr>
       <% end %>
       <%= text_field_tag "#{param_prefix}[contact_name]", '', {id: 'contact_name', class: 'form-control required'} %>
     </p>
     <p class="field" data-hook="contact_email">
       <%= label_tag "contact_email" do %>
         <%= Spree.t(:contact_email) %>
         <abbr class="required" title="required">*</abbr>
       <% end %>
       <%= email_field_tag "#{param_prefix}[contact_email]", '', {id: 'contact_email', class: 'form-control required'} %>
     </p>
</div>



